services:
  api:
    build: ./backend/
    env_file:
      ./.env
    ports:
      - "8030:8030"
    depends_on:
      db:
        condition: service_healthy
  db:
    image: postgres:15
    env_file:
      ./.env
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
  pgadmin:
    image: dpage/pgadmin4
    env_file:
      ./.env
    ports:
      - "8080:80"
    depends_on:
      - db

volumes:
  db_data:
      